/* dashboard.module.css */
.container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .menuTitle {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
  }
  
  .menuList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
  }
  
  .menuItem {
    flex-grow: 1;
  }
  
  .menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-size: bold;
    cursor: pointer;
    background-color: #ffffffff;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box; 
    transition: background-color 0.3s ease; 
  }
  
  .menuButton:hover {
    background-color: black;
    color: white;
  }
  