/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    color: black;
    padding: 10px;
  }
  
  .navbarTitle {
    font-size: 50px;
    text-decoration: none;
    color: black;
    font-family: 'Ephesis', cursive;
  }
  .navbarButton {
    background-color: #fff;
    color:  black;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Jost', sans-serif;
  }
  
  .navbarButton:hover {
    background-color: black;
    color: #fff;
  }
  
  .carritoImage {
    width: 50px; /* Valor entero */
    height: 35px; /* Valor entero */
    margin-left: 10px;
  }
  